body { 
    background: url("../images/standup.jpg") no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    text-align: center;
}

.gif-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px;
    grid-gap: 40px;
    padding: 10px;
}

h1{
    text-align: center;
    padding-top: 20px;
}

form {
    color: white;
}
#footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 5px;
}
p{
    color: black;
}
